.box {
  /* Each box is 100x100 pixels, with a 1px line (color: #687291) on top. */
  width: 100px;
  height: 100px;
  border-top: 1px solid #687291;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.align {
  /* All boxes are centered horizontally even as the window resizes. 
    Boxes are separated by 10 pixels of space.  */
  margin: auto;
  margin-bottom: 10px;
}

.font {
  /* Text is centered horizontally. 
       The font in all elements is Tahoma, 40 pixels.
       Text is centered horizontally. */
  text-align: center;
  font-family: Tahoma;
  font-size: 40px;
}

/* Add new classes to make boxes colored and bordered according to the design in the labs */
.boxAlt1 {
  background-color: #dfe1e7;
}

.boxAlt2 {
  background-color: #eeeff2;
}

.boxFinal {
  background-color: #687291;
  border-color: black;
  border: solid 4px;
}
